<ul class="aside">
  <%for(var i=0; i<menuList.length; i++){%>
    <%if(menuList[i].checked&&menuList[i].type===1){%>
    <li>
      <h4><%=menuList[i].module_name%><span class="nav_open"></span></h4>
      <ul>
        <%for(var j=0; j<menuList[i].items.length; j++){%>

          <%if((menuList[i].items[j].checked && menuList[i].items[j].type!=3) || (userinfo.is_super==1 && menuList[i].items[j].type!=3)){%>
            <li class="list-group-item"> 
              <a href="<%=menuList[i].items[j].url%>" target="rightMain"> <%=menuList[i].items[j].module_name %></a>
            </li>
          <%}%>
            
        <%}%>
      </ul>
    </li>
    <%}%>
  <%}%>
</ul>